@media (min-width: 797px) and (max-width: 1023px) {
  .h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -1.2px;
  }

  .h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }

  .page-paragraph {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 60px;
  }

  .page-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.2px;
    color: #000000;
    margin-bottom: 24px;
  }

  /* ///////////////////////// */
  .header-mobile {
    display: block;
  }

  .header {
    display: none;
  }

  .main-page-top-block {
    height: 522px;
  }

  .main-page-top-block__title {
    font-size: 62px;
    line-height: 74px;
    padding-bottom: 40px;
  }

  .anchor-down {
    font-size: 20px;
    line-height: 32px;
    padding: 14px 40px;
  }

  /* ///////////////// */
  .main-page-about {
    padding: 64px 0 24px;
  }

  .main-page-about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .main-page-about__box-num {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 18px;
  }

  .main-page-about__box-text {
    font-size: 16px;
    line-height: 24px;
  }

  .main-page-about__title {
    grid-area: 1 / 1 / 2 / 2;
  }

  .main-page-about__title-img {
    width: 270px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 24px auto 0;
  }

  .main-page-about__title-img-img {
    width: 170px;
  }

  .main-page-about__text {
    grid-area: 1 / 2 / 2 / 3;
  }

  .main-page-about__count {
    grid-area: 2 / 1 / 3 / 3;
    flex-direction: row;
    padding: 50px 0 20px;
  }

  .main-page-about__count>div {
    padding: 16px 0;
    border-bottom: 0;
    border-left: 3px solid #f7efe9;
    border-right: 3px solid #f7efe9;
    width: inherit;
    margin: auto;
  }

  .main-page-about__count>div:first-child {
    padding: 16px 0;
    border: 0;
  }

  .main-page-about__count>div:last-child {
    padding: 16px 0;
    border: 0;
  }

  /* ///////////////// */
  .main-page-our-offices {
    padding: 20px 0 64px 0;
  }

  .main-page-our-offices__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 246px;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
  }

  .main-page-our-offices__item span {
    bottom: 18px;
    left: 18px;
    font-size: 16px;
    line-height: 24px;
  }

  .main-page-our-offices__item-new span {
    font-size: 18px;
    line-height: 28px;
  }

  /* ///////////////// */
  .main-page-history-company {
    height: 700px;
    padding: 34px 0;
  }
.main-page-history-company__slider {
    display: grid;
    grid-template-columns: 1fr 329px 88px 329px 1fr;
    grid-template-rows: auto;
    gap: 42px 1px;
}
.company-year-item__year {
    height: 88px;
    width: 88px;
}
.company-text-item {
  height: 580px;
}
.company-year-item {
    font-size: 20px;
    line-height: 28px;
}

.company-text-item h2 {
  font-size: 38px;
line-height: 48px;
}
.main-page-history-company .slick-arrow {
    width: 54px;
    height: 54px;
}
.main-page-history-company .slick-arrow::before {
    background-size: 23px;
}

  /* ///////////////// */
  .main-page-working-on__img-text {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 8fr 7fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 64px 0 66px;
  }

  .main-page-working-on__text {
    grid-area: 1 / 1 / 2 / 2;
    padding-bottom: 44px;
    padding-right: 8px;
  }

  .main-page-working-on__text .h2 {
    padding-bottom: 44px;
  }

  .main-page-working-on__img {
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 18px;
  }
  .main-page-working-on__img img {
    max-width: 317px;
  }
  .main-page-working-on__slider-header {
    padding-bottom: 44px;
  }

  .main-page-working-on__slider-header img {
    position: absolute;
    left: -12px;
    z-index: -1;
    max-width: 108px;
  }

  .main-page-working-on__slider .slick-arrow {
    top: -54px;
    width: 46px;
    height: 46px;
  }

  .main-page-working-on__slider .slick-prev {
    right: 46px;
  }

  .main-page-working-on__slider-cont {
    height: 416px;
    max-width: 458px;

  }

  .main-page-working-on__slider-title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 44px;
  }

  .main-page-working-on__slider-text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 64px;
}
  .main-page-working-on__company {
    grid-area: 4 / 1 / 5 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    padding: 44px 0px 40px;
  }

  /* ///////////////// */
  .main-page-soc-pack {
    padding: 0px 0 22px;
  }

  .main-page-soc-pack__title {
    height: 90px;
    padding-bottom: 26px;
  }

  .main-page-soc-pack__title div {
    filter: blur(200px);
  }

  .main-page-soc-pack__tabs {
    padding-bottom: 28px;
  }

  .main-page-soc-pack__tab {
    padding: 11px 24px;
    margin-right: 0px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }

  .main-page-soc-pack__tab-ul__wrapper ul {
    margin-left: 40px;
    width: 100%;
    max-width: 334px;
  }

  .main-page-soc-pack__tab-ul__wrapper ul li {
    padding: 24px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }

  .main-page-soc-pack__tab-item {
    height: 486px;
  }


  /* ///////////////// */

  .main-page-important-to-us {
    padding: 42px 0 30px;
    background: #fff;
  }

  .main-page-important-to-us__title {
    padding-bottom: 44px;
    text-align: left;
  }

  .main-page-important-to-us__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-page-important-to-us__item {
    width: calc(50% - 3px);
    height: 240px;
    position: relative;
    margin: 1.5px;
  }
  .main-page-important-to-us__item .back-num {
    width: 54px;
    height: 54px;
  }
  .main-page-important-to-us__item-front .front-num {
    width: 52px;
    height: 52px;
  }

  .main-page-important-to-us__item .front-text-title {
    font-size: 18px;
    bottom: 24px;
    left: 24px;
  }

  /* .main-page-important-to-us__item:hover .main-page-important-to-us__item-back {
    opacity: 0;
    visibility: hidden;
  } */

  /* ///////////////// */
  .main-page-what-they-say {
    padding: 44px 0 66px;
  }

  .main-page-what-they-say__title {
    height: 176px;
    margin-bottom: 36px;
    order: 0;
  }

  .main-page-what-they-say__title img {
    width: 300px;
  }

  .main-page-what-they-say__slide-inner {
    grid-template-rows: auto;
  }

  .what-they-say__slide-left {
    padding-right: 26px;
  }

  .what-they-say-slide-arrow {
    width: 46px;
    height: 46px;
  }

  .what-they-say-slide-arrow {
    width: 46px;
    height: 46px;
  }

  .what-they-say-slide-arrow::before {
    background-size: 16px 16px;
  }

  .what-they-say__slide-img {}

  .what-they-say__slide-name-prof {}

  .quote-img img {
    max-height: 62px;
    padding-top: 6px;
  }

  .what-they-say__slide-name {
    font-size: 18px;
    line-height: 24px;
  }

  .what-they-say__slide-img img {
    max-height: 270px;
  }

  .main-page-what-they-say__our-partners .h3 {
    margin-bottom: 22px;
  }

  .main-page-what-they-say__our-partners ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .main-page-what-they-say__our-partners ul li:first-child {
    margin-right: revert;
  }

  .main-page-what-they-say__our-partners ul li:last-child {
    margin-left: revert;
  }

  /* ///////////////// */
  .main-page-vacancy__filter-item button {
    font-size: 16px;
    line-height: 24px;
    padding: 11px 18px;
  }

  .main-page-vacancy__filter ul,
  .accordion-button-second__wrapper {
    width: 300px;
    min-width: 300px;
  }

  .accordion-button-first,
  .accordion-button-second {
    font-size: 16px;
    line-height: 24px;
  }

  .accordion-button:before {
    height: 10px;
    width: 18px;
    top: 38px;
  }
  .main-page-vacancy__header {
    margin-bottom: 18px;
  }
  .main-page-vacancy {
    padding: 64px 0;
  }
  /* ///////////////// */
  .video_wrapper {
    height: 422px;
  }
  /* ///////////////// */
  .main-page-video {
    padding: 64px 0 38px;
  }
  .videoPoster:before {
    background-image: url(./../img/icon/play.png);
    background-size: 108px 108px;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    position: absolute;
    width: 108px;
    height: 108px;
}

  /* ///////////////// */
  .main-page-facts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 44px;
    padding: 30px 0 34px;
  }

  .main-page-facts__title {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 12px;
	top: 0;
}

  .main-page-facts__text {
    grid-area: 2 / 1 / 3 / 2;
  }

  .main-page-facts__percents {
    grid-area: 3 / 1 / 4 / 2;
  }

  .main-page-facts__percents>div {
    height: 40px;
    margin-bottom: 12px;
  }

  /* ///////////////// */
  .main-page-comtact-form {
    padding: 64px 0 64px;
  }



  .comtact-form {
    width: 100%;
  }

  .comtact-form .h3 {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 44px;
  }

  .comtact-form__grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .comtact-form__grid>div {
    margin-bottom: 20px;
  }

  .comtact-form__grid>.comtact-form__comment {
    height: 152px;
  }

  /* ///////////////// */

}
