@import "../utils/module";
footer{
  .footer{
    background: linear-gradient(184.73deg, #454564 9.66%, #7F668D 415.19%);
    padding: vw(80px) vw(50px) vw(40px) vw(50px);
    display: flex;
    flex-wrap: wrap;
    @include desktop{
      padding: 80px 50px 40px 50px;
    }
    @include mobile{
      padding: 64px 24px;
    }
    &__addresses{

      display: flex;
      margin-bottom: vw(40px);
      @include desktop{
        margin-bottom: 40px;
      }
      @include tablet{
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    &__address{
      margin-right: vw(140px);
      @include desktop{
        margin-right: 140px;
      }
      @include notebook{
        margin-right: 40px;
      }
      @include tablet{
        width: 48%;
        margin-right: 0;
        margin-bottom: 16px;
      }
      @include mobile{
        width: 100%;
        order: 0;
      }
      p {
        color: #fff;
        font-size: vw(20px);
        margin-bottom: 0;
        line-height: 160%;
        @include desktop{
          font-size: 20px;
        }
        @include notebook{
          font-size: 16px;
        }
        br {
          display: none;
          @include mobile {
            display: block;
          }
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
    &__socials{
      margin-bottom: vw(40px);
      align-items: flex-start;
      margin-left: auto;
      @include desktop{
        margin-bottom: 40px;
      }
      @include tablet{
        width: 50%;
        margin-left: 0;
      }
      @include mobile{
        order: 2;
      }
      @media screen and (max-width: 400px) {
        width: 100%;
        margin-top: 25px;
      }
      ul{
        display: flex;
        align-items: center;
        li{
          margin-right: vw(20px);
          @include desktop{
            margin-right: 20px;
          }
          &:last-child{
            margin-right: 0;
          }
          a{
            img{
              max-height: vw(24px);
              height: vw(24px);
              width: vw(24px);
              @include desktop{
                max-height: 24px;
                height: 24px;
                width: 24px;
              }

            }
          }
        }
      }
    }
    &__contacts{
      width: 66.66%;
      display: flex;
      @include notebook{
        align-items: flex-start;
      }
      @include tablet{
        width: 50%;
      }
      @include mobile{
        order: 1;
      }
      ul{
        min-width: vw(455px);
        @include desktop{
          min-width: 455px;
        }
        @include notebook{
          min-width: 280px;
        }
        @include tablet{
          min-width: 280px;
        }
        @include mobile{

        }
        li{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          a{
            font-size: vw(20px);
            display: inline-block;
            //font-family: Montserrat;
            font-style: normal;
            font-weight: 400;
            line-height: 200%;
            letter-spacing: -.2px;
            color: white;
            @include desktop{
              font-size: 20px;
            }
            @include notebook{
              font-size: 16px;
            }
            .email{
              color: white;
              border-bottom: solid vw(0.5px) #fff;
              @include desktop{
                border-bottom: solid 0.5px #fff;
              }

            }

          }
        }
      }
      .footer__button{
        display: flex;
        @include tablet{
          display: none;
        }
        button{
          padding: vw(10px) vw(30px);
          border-radius: vw(50px);
          font-weight: 600;
          font-size: vw(16px);
          line-height: vw(20px);
          text-align: center;
          color: #000;
          cursor: pointer;
          margin: auto 0 0 0;
          @include desktop{
            padding: 10px 30px;
            border-radius: 50px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
    &__copyright{
      width: 33.33%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: vw(40px);
      @include desktop{
        margin-bottom: 40px;
      }
      @include notebook{
        flex-direction: column;
      }
      @include mobile{
        order: 3;
      }
      @include tablet{
        width: 100%;
        justify-content: flex-start;
        text-align: left;
        align-items: flex-start;
      }
      @include mobile{
        margin-top: 24px;
      }
      @media screen and (max-width: 400px) {
        margin-top: 0;
      }
      a{
        margin-right: vw(45px);
        //font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: vw(15px);
        line-height: 143%;
        text-align: right;
        letter-spacing: -.2px;
        color: rgba(255,255,255,.6);
        @include desktop{
          font-size: 15px;
          margin-right: 45px;
        }
        @include notebook{
          margin-right: 0;
        }
        @include tablet{
          font-size: 14px;
        }
        @include mobile{
          text-align: left;
          margin-bottom: 10px;
        }
      }
      span{
        //font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: vw(15px);
        line-height: 143%;
        text-align: right;
        letter-spacing: -.2px;
        margin-bottom: 0;
        color: rgba(255,255,255,.6);
        @include desktop{
          font-size: 15px;
        }
        @include tablet{
          font-size: 14px;
        }
        @include mobile{
          margin-bottom: 5px;
        }
      }
    }
  }
}
.footer.poland{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(184.73deg, #454564 9.66%, #7F668D 415.19%);
  padding: vw(75px) vw(50px);
  margin-top: vw(140px);
  @include desktop{
    margin-top: 140px;
    padding: 75px 50px;
  }
  @include notebook{
    margin-top: 100px;
  }
  @include tablet{
    padding: 40px 24px;
    margin-top: 60px;
  }
  @include mobile{
    margin-top: 40px;
    flex-direction: column;
  }
  .footer__contacts{
    display: flex;
    @media only screen and (max-width: 1200px) {
      align-items: center;
    }
    @include mobile{
      flex-direction: column;
    }
    &_info{
      display: flex;
      @media only screen and (max-width: 1200px) {
        flex-direction: column;
      }
      @include mobile{
        align-items: center;
        margin-bottom: 28px;
      }
    }
    &_addresses{
      color: #fff;
      font-size: vw(20px);
      margin-bottom: 0;
      line-height: 160%;
      margin-right: vw(50px);
      display: flex;
      align-items: center;
      @include desktop{
        font-size: 20px;
        margin-right: 50px;
      }
      @include notebook{
        font-size: 16px;
      }
      @include mobile{
        margin-right: 0;
      }
      p{
        margin-bottom: 0;
      }
    }
    &_email{
      font-size: vw(20px);
      margin-right: vw(50px);
      //font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      line-height: 200%;
      letter-spacing: -.2px;
      color: white;
      display: flex;
      align-items: center;
      position: relative;
      @include desktop{
        font-size: 20px;
        margin-right: 50px;
      }
      @include notebook{
        font-size: 16px;
      }
      @media only screen and (max-width: 1200px) {
        width: fit-content;
      }
      @include mobile{
        margin-right: 0;
      }
      &:before{
        position: absolute;
        content: '';
        background: white;
        width: 100%;
        bottom: vw(7px);
        height: vw(1px);
        @include desktop{
          bottom: 7px;
          height: 1px;
        }

      }
    }
    .footer__button{
      button{
        padding: vw(10px) vw(30px);
        border-radius: vw(50px);
        font-weight: 600;
        font-size: vw(16px);
        line-height: vw(20px);
        text-align: center;
        color: #000;
        cursor: pointer;
        margin: auto 0 0 0;
        @include desktop{
          padding: 10px 30px;
          border-radius: 50px;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
        }
        @include mobile{
          margin-bottom: 28px;
        }
      }
    }
  }
  .footer__info{
    display: flex;
    @include tablet{
      flex-direction: column;
    }
    &_socials{
      display: flex;
      align-items: center;
      margin-right: vw(50px);
      @include desktop{
        margin-right: 50px;
      }
      @include tablet{
        margin-right: 0px;
        margin-bottom: 20px;
        justify-content: end;
      }
      @include mobile{
        margin-bottom: 28px;
        justify-content: center;
      }
      li{
        margin-right: vw(20px);
        @include desktop{
          margin-right: 20px;
        }
        &:last-child{
          margin-right: 0;
        }
        a{
          img{
            max-height: vw(24px);
            height: vw(24px);
            width: vw(24px);
            @include desktop{
              max-height: 24px;
              height: 24px;
              width: 24px;
            }

          }
        }
      }
    }
    &_copyright {
      //font-family: Montserrat;
      font-style: normal;
      font-weight: 400;
      font-size: vw(15px);
      line-height: 143%;
      text-align: right;
      letter-spacing: -.2px;
      color: rgba(255,255,255,.6);
      display: flex;
      flex-direction: column;
      @include desktop{
        font-size: 15px;
      }
      @include tablet{
        margin-right: 0
      }
      a{
        @include mobile{
          text-align: center;
        }
      }
    }
  }
}
