.contact-form {

  &.col-2 {
    .contact-form{
      &__grid {
        margin-bottom: 40px;
        grid-gap: 40px;
        span.comment{
          max-height: unset;
          grid-area: unset;
          @include respond-to(mobilefix) {
            grid-area: 1 / 2 / 3 / 2;
          }
        }
        @include respond-to(mobile) {
          grid-template-columns: repeat(auto-fill,minmax(405px,1fr));
        }
      }
      &__wrapper {
        max-width: 850px;
      }
    }
  }

  &__wrapper {
    h3 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: -0.5px;
      color: #000000;
      margin-bottom: 33px;

      @include respond-to(mobile) {
        font-size: 30px;
        line-height: 113%;
        margin-bottom: 40px;
      }

      &.col-2 {
        font-size: 24px;
        line-height: 150%;
        font-weight: 500;
        margin-bottom: 44px;
        text-align: center;
        @include respond-to(tablet) {
          font-size: 30px;
          line-height: 107%;
          margin-bottom: 62px;
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;
    .email {
      position: relative;
      &.invalid {
        &:before {
          display: block;
          content: '';
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 9px solid #1a1a1a;
          position:absolute;
          top:56px;
          left:35px;
          z-index:8;
          font-size:0;
          line-height:0;
          width:0;
          height:0;
        }
        &:after {
          display: block;
          content: 'Пожалуйста, введите реальный адрес электронной почты';
          position: absolute;
          top: 65px;
          left: 0;
          right: 0;
          padding:12px;
          background:#000000;
          z-index:9;
          border-radius: 10px;

          font-family: Raleway;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 143%;
          color: #FFFFFF;
        }
      }
    }
    input:not([type=file]), textarea {
      &.wpcf7-validates-as-required {
        background-image: url("../img/svg/req.svg");
        background-position: calc(100% - 25px) center;
        background-repeat: no-repeat;
      }
      background: #FFFFFF;
      border: 2px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      padding: 14px 20px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: -0.2px;
      max-height: 56px;
      resize: none;
      width: 100%;

      &::placeholder {
        font-size: 16px;
        line-height: 200%;
        @include respond-to(mobile) {
          font-size: 20px;
          line-height: 160%;
        }
      }
      @include respond-to(mobile) {
        font-size: 20px;
        line-height: 160%;
      }
    }
    span.comment {
      grid-area: unset;
      textarea {
        max-height: unset;
      }
      @include respond-to(mobilefix) {
        grid-area: 3 / 1 / auto / span 2;
      }
    }
    @include respond-to(mobile) {
      grid-template-columns: repeat(auto-fill, minmax(313px, 1fr));
    }


  }

  &__comment {
    margin-bottom: 20px;
    textarea {
      background: #FFFFFF;
      border: 2px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      padding: 14px 20px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: -0.2px;
      resize: none;
      grid-area: unset;
      &::placeholder {
        font-size: 16px;
        line-height: 200%;
        @include respond-to(mobile) {
          font-size: 20px;
          line-height: 160%;
        }
      }
      @include respond-to(mobile) {
        font-size: 20px;
        line-height: 160%;
        grid-area: 3 / 1 / auto / span 2;
      }
    }
  }

  &__resume {
    position: relative;
    max-height: 56px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    &.invalid {
      border: 2px solid #000!important;
      &.show-tip {
        &:before {
          display: block;
          content: '';
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 9px solid #1a1a1a;
          position: absolute;
          top: 54px;
          right: 22px;
          z-index: 8;
          font-size: 0;
          line-height: 0;
          width: 0;
          height: 0;
        }

        &:after {
          display: block;
          content: 'Максимальный размер файла: 10 МБ\0a Типы файлов: pdf, doc, docx, xls, xlsx, txt, rtf, html, zip';
          position: absolute;
          top: 63px;
          left: 0;
          right: 0;
          padding: 12px;
          background: #000000;
          z-index: 9;
          border-radius: 10px;
          white-space: pre;

          font-family: Raleway;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 143%;
          color: #FFFFFF;
        }
      }
    }




    &-plus {
      &:before {
        content: "";
        width: 20px;
        position: absolute;
        top: 0;
        left: 12px;
        bottom: 0;
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0V5H12V7H7V12H5V6.999L0 7V5L5 4.999V0H7Z' fill='black' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &-attach {
      &:before {
        content: "";
        width: 20px;
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='22' viewBox='0 0 11 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 2.62 2.62 1.5 4 1.5C5.38 1.5 6.5 2.62 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.88 4.12 17 5.5 17C6.88 17 8 15.88 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z' fill='black' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &-after {
      width: 18px;
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      right: 20px;
      height: 18px;
      cursor: pointer;
      background-image: url(../img/svg/q.svg);
      background-size: 41%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: solid 2px rgba(0, 0, 0, 0.6);
      display: none;
      @include respond-to(mobile) {
        display: block;
      }

      &:hover, &:active, &:focus {
        border-color: rgba(0, 0, 0, 1);
        background-image: url(../img/svg/qh.svg);
      }
    }

    &-remove {
      width: 16px;
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      right: 20px;
      height: 18px;
      cursor: pointer;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.15'%3E%3Cpath d='M13.435 0.707108C13.8256 0.316583 14.4587 0.316583 14.8492 0.707107C15.2398 1.09763 15.2398 1.7308 14.8492 2.12132L2.12132 14.8492C1.7308 15.2398 1.09763 15.2398 0.707107 14.8492C0.316582 14.4587 0.316582 13.8256 0.707107 13.435L13.435 0.707108Z' fill='black'/%3E%3Cpath d='M14.8492 13.435C15.2398 13.8256 15.2398 14.4587 14.8492 14.8492C14.4587 15.2398 13.8256 15.2398 13.435 14.8492L0.707107 2.12132C0.316583 1.7308 0.316583 1.09763 0.707107 0.707107C1.09763 0.316582 1.7308 0.316582 2.12132 0.707107L14.8492 13.435Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &-input {
      visibility: hidden;
      width: 0 !important;
      height: 0 !important;
    }

    &:hover {
      border-color: black;
    }

    &-text {
      margin: 14px 52px 14px 36px;
      overflow: hidden;

      cursor: pointer;
      display: block;

      text-overflow: ellipsis;
      span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.2px;
        color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;

        @include respond-to(mobile) {
          font-size: 20px;
          line-height: 116%;
        }

      }
    }
  }

  &__submit {
    input[type=submit] {
      width: 100%;
      padding: 11px 0;
      @include respond-to(mobile){
        padding: 14px 0;
      }
    }
  }

  h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.5px;
    color: #000000;
    margin-bottom: 33px;

    @include respond-to(mobile) {
      font-size: 30px;
      line-height: 113%;
      margin-bottom: 40px;
    }

    &.col-2 {
      font-size: 24px;
      line-height: 150%;
      font-weight: 500;
      margin-bottom: 44px;
      text-align: center;
      @include respond-to(tablet) {
        font-size: 30px;
        line-height: 107%;
        margin-bottom: 62px;
      }
    }
  }

  &__select {
    &-wrapper {
      margin-bottom: -20px;
      .wpcf7 {
        &-form-control {
          width: 100%;
          background: #FFFFFF;
          border: 2px solid rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          padding: 14px 20px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 200%;
          letter-spacing: -.2px;
          max-height: 56px;
          resize: none;
          width: 100%;
          appearance:none;
          background-image: url(../img/svg/down-arrow.svg);
          background-repeat: no-repeat;
          background-position: calc(100% - 25px) center;
          &-wrap {
            display: block;
            margin-bottom: 20px;
          }
        }
      }
    }
    .wpcf7 {
      &-form-control {
        width: 100%;
        background: #FFFFFF;
        border: 2px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        padding: 14px 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 200%;
        letter-spacing: -.2px;
        max-height: 56px;
        resize: none;
        width: 100%;
        appearance:none;
        background-image: url(../img/svg/down-arrow.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 25px) center;
        &-wrap {
          display: block;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.2px;
    color: #000000;

    margin:20px 0 12px 0;
  }


}

/*fix for spelling issue*/
.comtact-form {
  .wpcf7 {
    &-form {
      &.invalid {
        .wpcf7 {
          &-not-valid {
            border: 2px solid #000000 !important;
          }
        }
      }
    }
    &-date {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 160%;
      letter-spacing: -0.2px;
      color: #A6A4A4;
    }
  }
}