@import "../utils/module";
.main-page-top-block{
  padding-top: vw(88px);
  width: 100%;
  height: vw(832px);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  @include desktop{
    padding-top: 88px;
    width: 100%;
    height: 832px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
  @include notebook{
    height: 522px;
  }
  @include mobile{
    height: 600px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    object-fit: cover;
  }
  &__title{
    font-weight: 600;
    font-size: vw(120px);
    line-height: vw(130px);
    text-align: center;
    letter-spacing: vw(-2px);
    color: #fff;
    max-width: vw(1000px);
    padding-bottom: vw(78px);
    @include desktop{
      font-size: 120px;
      line-height: 130px;
      letter-spacing: -2px;
      max-width: 1000px;
      padding-bottom: 78px;
    }
    @include notebook{
      font-size: 74px;
      line-height: 90px;
      padding-bottom: 50px;
    }
    @include tablet{
      font-size: 62px;
      line-height: 74px;
      padding-bottom: 40px;
    }
    @include mobile{
      font-size: 40px;
      line-height: 48px;
      padding-bottom: 50px;
    }
  }
}
.anchor-down {
  border: vw(2px) solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: vw(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: vw(20px);
  line-height: vw(32px);
  text-align: center;
  letter-spacing: vw(-0.2px);
  color: #fff;
  padding: vw(14px) vw(40px);
  @include desktop{
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    padding: 14px 40px;
  }
  @include tablet{
    font-size: 20px;
    line-height: 32px;
    padding: 14px 40px;
  }
  @include mobile{
    font-size: 16px;
    line-height: 32px;
    padding: 10px 32px;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.07);
  }
}