.anchor-down {
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #fff;
  padding: 14px 40px;
  &:hover {
    background: rgba(255, 255, 255, 0.07);
  }
}