.main-page-important-to-us__item{;
  border-radius: 6px;
  margin: 0 3px 3px 0;
  @include respond-to(tablet) {
    margin: 1.5px
  }
  &:last-child{
    margin-right: 0px;
  }
  .main-page-important-to-us__item-front{
    position: relative;
    img{
      border-radius: 6px;
    }
    &:before{
      position: absolute;
      width: 100%;
      height: 33%;
      content: '';
      background: linear-gradient(179.96deg, rgba(0, 0, 0, 0) 20.94%, rgba(0, 0, 0, 0.6) 99.97%);
      z-index: 1;
      bottom: 0;
      border-radius: 6px;
    }
  .front-text-title{
    z-index: 3;
  }
  }
  .main-page-important-to-us__item-back{
    border-radius: 6px;
  }
}
#mainDiv {
  height: 100px;
  width: 80px;
  position: relative;
  border-bottom: 2px solid #f51c40;
  background: #3beadc;
}

#borderLeft {
  border-left: 2px solid #f51c40;
  position: absolute;
  top: 50%;
  bottom: 0;
}