@import "../utils/module";
.index{
  border-bottom: vw(3px) solid rgba(201, 66, 73, 0.1);
  padding: vw(140px) 0;
  @include desktop{
    padding: 140px 0;
    border-bottom: 3px solid rgba(201, 66, 73, 0.1);
  }
  @include notebook{
    padding: 100px 0;
  }
  @include tablet{
    padding: 44px 0;
  }
  h2{
    text-align: left;

  }
  .total_all{
    display: none;
  }
  .container{
    @include notebook{
      max-width: calc(100% - 48px);
      width: 100%;
      margin: auto;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
.index__text{
  max-width: vw(580px);
  font-size: vw(20px);
  line-height: vw(24px);
  margin: vw(18px) 0 vw(35px) 0;
  text-align: left;
  @include desktop{
    max-width: 580px;
    font-size: 20px;
    line-height: 24px;
    margin: 18px 0 35px 0;
  }
  @include notebook{
    font-size: 16px;
    max-width: 415px;
  }
  @include tablet {
    max-width: 430px;
    text-align: left;
  }
  @include mobile{
    margin: 20px 0 24px 0;
    max-width: none;
    width: 100%;
  }

}
.index__container{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  @include tablet{
    flex-wrap: wrap;
  }
  @include mobile {
    flex-wrap: wrap;
  }
  &_wrap{
   @include tablet{
     display: flex;
     justify-content: space-between;
     width: 100%;
     align-items: center;
   }
    @include mobile{
      flex-wrap: wrap;
    }
  }
}
.index__rating{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  align-items: center;
  margin-right: 0;
  flex: 1;
  position: relative;
  @include desktop {

  }
  @include notebook{

  }
  @include tablet{
    margin-bottom: 70px;
    margin-top: 50px;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 320px;
    padding-top: 40px;
  }
  &:before{
    position: absolute;
    content: '';
    background: url("../img/index.png");
    width: vw(490px);
    height: vw(320px);
    background-size: cover;
    @include desktop{
      width: 490px;
      height: 320px;
    }
    @include notebook{
      width: 410px;
      height: 267px;
    }
    @include mobile{
      width: 316px;
      height: 206px;
      object-fit: cover;
      background-size: cover;
      background-position: bottom;
      top:-10px;
    }
  }
  &-col{
    //font-family: Montserrat;
    font-weight: bold;
    font-size: vw(80px);
    line-height: vw(49px);
    text-align: center;
    margin-top: 0;
    position: relative;
    @include desktop{
      font-size: 80px;
      line-height: 49px;
    }
    @include tablet {
      margin-top: 60px;
    }
    @include mobile{
      margin-top: 0;
      font-size: 60px;
    }
    &:after{
      position: absolute;
      content: '';
      background: url("../img/index2.png");
      width: vw(217px);
      height: vw(135px);
      background-size: cover;
      left: vw(-265px);
      top: vw(-50px);
      @include desktop{
        width: 217px;
        height: 135px;
        left: -265px;
        top: -50px;
      }
      @include notebook{
        width: 160px;
        height: 103px;
        left: -195px;
        top: -20px;
      }
      @include mobile{
        width: 136px;
        height: 85px;
        left: -152px;
        top: -20px;
      }
    }
  }
  &-text{
    font-weight: 600;
    font-size: vw(26px);
    line-height: vw(24px);
    text-align: center;
    margin-top: vw(26px);
    margin-bottom: vw(40px);
    @include desktop{
      font-size: 26px;
      line-height: 24px;
      margin-top: 26px;
      margin-bottom: 40px;
    }
    @include notebook{
      font-size: 16px;
    }
    @include tablet {
      margin-bottom: 52px;
    }
  }
  &-link{
    width: vw(210px);
    height: vw(60px);
    font-style: normal;
    font-weight: 600;
    font-size: vw(20px);
    line-height: vw(32px);
    text-align: center;
    letter-spacing: vw(-0.2px);
    color: black;
    border: 1px solid black;
    border-radius: vw(50px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: vw(100px);
    @include desktop{
      margin-bottom: 100px;
      width: 210px;
      height: 60px;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.2px;
      border-radius: 50px;
    }
    @include tablet{
      margin-bottom: 0;
    }
    @include mobile{
      width: 100%;
    }
  }
}
.index__info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  &__item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 25%;
    margin-bottom: 0;
    &:nth-child(-n+2){
      margin-bottom: 14px;
    }
    @include desktop{
      margin-bottom: 40px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    @include tablet{
      margin-bottom: 0;
    }
    @include mobile {
      width: 50%;
      margin-bottom: 30px!important;
    }
    &-rating{
      position: relative;
      width: vw(84px);
      height: vw(60px);
      display: flex;
      align-items: center;
      justify-content: center;
      @include desktop{
        width: 84px;
        height: 60px;
      }
      @include notebook{
        opacity: 1;
      }
      &.active{
        opacity: 1;
      }
      img{
        position: absolute;
        width: vw(78px);
        height: vw(87px);
        left: 0;
        @include desktop{
          width: 78px;
          height: 87px;
        }
      }
      p{
        font-size: vw(26px);
        line-height: vw(32px);
        margin-left: vw(-5px);
        position: relative;
        z-index: 2;
        margin-bottom: 0;
        color: white;
        @include desktop{
          margin-left: -5px;
          font-size: 26px;
          line-height: 31px;
        }
        @include mobile{
          font-size: 20px;
        }
      }
    }
    &__marker{
      margin: vw(1px) 0 vw(8px) 0;
      cursor: pointer;
      @include desktop{
        margin: 1px 0 8px 0;
      }
      svg{
        width: vw(15.23px);
        height: vw(16.05px);
        @include desktop{
          width: 15.23px;
          height: 16.05px;
        }
      }
    }
    &-text{
      font-weight: 500;
      line-height: vw(24px);
      font-size: vw(20px);
      margin-top: vw(20px);
      @include desktop{
        margin-top: 20px;
        font-size: 20px;
        line-height: 24px;
      }
      @include notebook{
        font-size: 16px;
      }
      @include mobile{
        padding: 0 5px;
      }
    }
  }
}