@import "../utils/module";
.main-page-our-offices{
  padding: vw(70px) 0 vw(140px) 0;
  @include desktop{
    padding: 70px 0 140px 0;
  }
  @include notebook{
    padding: 40px 0 100px 0;
  }
  @include tablet{
    padding: 20px 0 64px 0;
  }
  @include mobile{
    padding: 30px 0 44px 0;
  }
  h3{
    margin-bottom: vw(32px);
    @include desktop{
      margin-bottom: 32px;
    }
  }
  .slick-list{
    @include tablet{
      overflow: visible;
    }
  }
  .slick-track{
    margin: 0 vw(-5px);
    @include tablet{
      margin: 0 -5px;
    }
  }
  &__slider{
    //display: flex;
    //position: relative;
    @include desktop{

    }
    @include notebook{

    }
    @include tablet{
    }
    @include mobile{

    }
    &.first{
      &:after{
        position: absolute;
        content: '';
        height: 100%;
        width: vw(140px);
        left: vw(-32px);
        top: vw(-10px);
        background: linear-gradient( 450.46deg,#fff 29.27%,rgba(255,255,255,0) 119.91%);
        z-index: 1;
        filter: blur(vw(6px));
        @include desktop{
          width: 140px;
          top: -10px;
          left: -32px;
          filter: blur(6px);
        }
        @include tablet{
          width: 100px;
        }
        @include mobile{
          width: 40px;
        }
      }
    }
    &.last{
      &:before{
        position: absolute;
        content: '';
        height: 100%;
        width: vw(140px);
        right: vw(-32px);
        background: linear-gradient(271.46deg,#fff 24.27%,rgba(255,255,255,0) 119.91%);
        z-index: 1;
        filter: blur(vw(6px));
        @include desktop{
          width: 140px;
          right: -32px;
          filter: blur(6px);
        }
        @include tablet{
          width: 100px;
        }
        @include mobile{
          width: 40px;
        }
      }
    }

    .slick-arrow{
      position: absolute;
      width: vw(55px);
      height: vw(55px);
      border: vw(2px) solid rgba(0, 0, 0, 1);
      border-radius: 50%;
      top: vw(-50px);
      display: flex;
      align-items: center;
      justify-content: center;
      &:before{
        position: absolute;
        background-image: url("../img/svg/arrow-office.svg");
        background-repeat: no-repeat;
        content: '';
        width: vw(19px);
        height: vw(15px);
        @include desktop{
          width: 19px;
          height: 15px;
        }
      }
      @include desktop{
        width: 55px;
        height: 55px;
        top: -50px;
        border: vw(2px) solid rgba(0, 0, 0, 1);
      }
      @include mobile{
        width: 48px;
        height: 48px;
      }
      &.slick-disabled{
        border-color: rgba(0, 0, 0, 0.5);
      }
    }
    .slick-next{
      right: 0;
      @include desktop{
      }
      &:before{
        transform: rotate(180deg);
      }
    }
    .slick-prev{
      left: auto;
      right: vw(55px);
      @include desktop{
        right: 55px;
      }
      @include mobile{
        right: 48px;
      }
    }
  }
  &__item{
    margin: 0 vw(5px);
    //width: vw(240px)!important;
    height: auto;
    border-radius: vw(6px);
    @include desktop{
      margin: 0 5px;
      //width: 240px!important;
      border-radius: 6px;
    }
  }
  &__name{
    font-weight: 500;
    font-size: vw(20px);
    line-height: vw(24px);
    margin-top: vw(16px);
    color: #000000;
    @include desktop{
      margin-top: 16px;
      font-size: 20px;
      line-height: 24px;
    }
    @include tablet{
      font-size: 16px;
    }
  }
  &__img{
    object-fit: cover;
    height: vw(240px);
    border-radius: vw(6px);
    width: 100%;
    @include desktop{
      border-radius: 6px;
      height: 240px;
    }
    @include notebook{
      height: auto;
    }
  }
}