@import "../utils/module";

.main-page {
  &-video {
    padding: vw(140px) 0;
    @include desktop{
      padding: 140px 0;
    }
    @include notebook{
      padding: 100px 0;
    }
    @include tablet{
      padding: 64px 0 38px;
    }
    @include mobile{
      padding: 60px 0 30px;
    }
    .video_wrapper {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 0;
      outline-width: 0;
    }
  }
}
.video_wrapper {
  width: 100%;
  height: vw(754px);
  margin: 0 auto;
  position: relative;
  background-color: #000;
  border-radius: 20px;
  @include desktop{
    height: 754px;
  }
}

.videoIframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoPoster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  border: none;
  overflow: hidden;
  opacity: 1;
  transition: opacity 800ms, height 0s;
  transition-delay: 0s, 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  &:before,&:after{
    border-color: #f00;
  }
  &:before {
    background-image: url(../img/icon/play.png);
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    position: absolute;
    background-size: vw(185px) vw(185px);
    width: vw(185px);
    height: vw(185px);
    @include desktop{
      background-size: 185px 185px;
      width: 185px;
      height: 185px;
    }
    @include tablet{
      background-size: 108px 108px;
      width: 108px;
      height: 108px;
    }
    @include mobile{
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
    }
  }
}
.videoPoster:hover:after,
.videoPoster:focus:after {
  border-left-color: #f00;
}

.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}